.category-section {
	display: flex;
	justify-content: center;
	gap: 0.85rem;
	font-family: "Montserrat", sans-serif;
}

.balls {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	width: 5.5rem;
}

.balls > p {
	font-family: "Quicksand", sans-serif;
}

.category-links {
	background: linear-gradient(to right top, #3d396d, #1d1b38);
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	font-size: 1.25rem;
}

.active {
	background: linear-gradient(to right top, #ffb26b, #ff7b54);
}
